<% if user_signed_in? %>
	<h1>You're logged in</h1>

	<div id="pinter">
		<% @pins.each do |pin| %>	
			<div class="item">
				<%= image_tag pin.image(:medium) %>
				<p><%= pin.description %></p>
				<p>Posted by <%= @user.name %></p>
			</div>
		<% end %>
	</div>
<% else %>
	<div class="jumbotron">
		<h1>Welcome to One Month Rails!</h1>
		<p>You've found the home page for the
			<%= link_to "One Month Rails", "http://onemonthrails.com" %> application
		</p>
		<p><%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
	</div>
<% end %>